.dropdown{
    overflow: hidden;
}
.dropdown_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 08px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2009;
    padding: 15px;
}
a{
    float: none;
    color: black;
    text-decoration: none;
    text-align: start;
}
.dropdown:hover .dropdown_content{
    display: block;
}
.hover{
    display: flex;
    gap: 7px;
    color: black;
}
.hover:hover{
    color: blueviolet;
}
.cartProduct{
    margin: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}
.cartProduct img{
    height: 80px;
    width: 80px;
    margin-bottom: 6px;
    object-fit: contain;

}
.cartflex{
    margin: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}
.total{
    text-align: end;
    padding: 2rem 0;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}
.check{
    margin: 2rem 8rem;
    text-align: center;
}
.div{
    display: flex;
    gap: 5px;
    align-items: center;
}